@import url("./all.css");
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #dddede;
  }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #f2f2f1; }
a:hover {
  color: inherit; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #000;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #000;
  border-color: #000;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 50px;
  width:275px;
  font:100 2rem/1 "Libre Franklin", sans-serif!important;
  color:#2d3033!important;
  text-align:left;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #f1f1f2;
  border: 1px transparent;
  border-radius: 6px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px transparent;
  background:#fff;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border:none!important;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }



/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }
.center{
  margin:auto;}
.italic{
  font-style:italic;
}
.u-j-right{
  justify-content: center;
}
.disappear:hover[
  display:none!important;
]
  @media(max-width:370px){
    .disappear{
      display:none!important;
    }
  }
.thick__underline {
    padding: 0 10px;
    color:#000;
    box-shadow: inset 0 -20px 0 0 #a1d6e2;
  }
.text-center{
  text-align: center!important;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.center{
  margin:auto;
}

.slanted__div{
  position:relative;
  width:100%;
  padding-top:4em;
  padding-bottom:4em;
}

.slanted__div:before{
  position:absolute;
  width:100%;
  height:100%;
  content: '';
  background:inherit;
  top:0;
  right:0;
  bottom:0;
  transform-origin: top right;
  transform: skewY(4deg);
}
.slanted__div__alt{
  position:relative;
  width:100%;
  padding-top:4em;
  padding-bottom:4em;
}

.slanted__div__alt:before{
  position:absolute;
  width:100%;
  height:100%;
  content: '';
  background:inherit;
  top:0;
  right:0;
  bottom:0;
  transform-origin: top left;
  transform: skewY(-2deg);
}
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  max-width:20%;
  margin-top:6em;
  margin-bottom:6em;
  border-top: 4px solid #2d3033; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}




  /* Shared
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button {
    border-radius: 100px;
  }

  /* Sections
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .section {
    padding: 8rem 0 7rem;
    text-align: center;
  }
  .section__2 {
    padding: 2rem 0 7rem;
    text-align: center;
  }
  .section-heading,
  .section-description {
    margin-bottom: 1.2rem;
  }

.hero__title{
  text-align:center;
}


.vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*/// Hero ///*/
.hero{
  min-height: 95vh;
  width:100%;
  background-color:;
}

.hero__title{
  text-align:center;
  font-weight:700;

}
.showcase__desktop{
  width:60%;
  border-radius:2px;
  margin:auto;
  margin-top: 2rem!important;
  opacity:.6;
  transition-duration: 1s;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.showcase__desktop:hover{
  opacity:1;
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}
@media(max-width:790px){
  .showcase__desktop{
    display:none!important;
  }
}

.showcase__mobile{
  width:75%;
  border-radius:2px;
  margin-left:auto;
  margin-right:auto;
  margin-top:2rem !important;
  border-radius:2px;
  -webkit-filter: grayscale(100%);
   /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

@keyframes greyscale-fade-in {
    0%   { -webkit-filter: grayscale(100%); }
    100% { -webkit-filter: grayscale(0%); }
}
@-webkit-keyframes opacity-fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.showcase__mobile{
    animation:
    greyscale-fade-in .5s 1s ease-in forwards,
    opacity-fade-in .5s ease-in forwards;
}

@media(min-width:790px){
  .showcase__mobile{
    display:none!important;
  }
}

/*/// One ///*/
.one{
  background-color:#f1f1f2;
  min-height:95vh;
}
.title{
  font-weight:600;
  letter-spacing: .2rem;
}
.one hr{
  max-width:20%;
  margin-top:6em;
  margin-bottom:6em;
  border-top: 4px solid #2d3033;
}
.one h5{
  font-family: "Merriweather", serif;
  font-weight: 300;
}
.one h6{
  font-family: "Merriweather", serif;
  font-weight: 400;
  color:#999;
  line-height:1.7;
}

/*/// Footer ///*/
.footer {
  background-color:inherit;
  text-align:center;
}

.footer a{
  margin: 4rem;
}

.center__more{
  margin-left: auto !important;
    margin-right: auto !important
}

.email{
  font-size: 2.4rem;
  color:#2d3033;
  text-decoration:none;
}
@media(max-width:550px){
.email{
  font-size: 1.8rem;
}
}

.dotted {
  border-bottom:3px #2d3033 dashed;
  text-decoration: none;
}
.dotted:hover {
  border-bottom: none;
  text-decoration: none;}
.footer__btn{
  font-size: 1.8rem;
  letter-spacing: .1rem;
  border: 2px solid #2d3033;;
  border-radius:2px;
  line-height:1px;
  padding: 25px 20px!important;
  text-transform: uppercase!important;
  margin-top:2rem;

}

.footer__btn:hover{
  border: 2px solid #2d3033;}

/*/// About ///*/

.about{

  margin-top:6rem;
  margin-bottom:7rem
}

.about h5{
  font-family: "Merriweather", serif;
  font-weight: 300;
  margin-bottom:1.8rem;
  text-align:center;
}
.do{
  width:50%;
}
@media(max-width:790px){
  .do{
    width:95%!important;
  }
}

.goals{
  margin-top:2rem!important;
}

.space{
  margin-top:4rem !important;
  margin-bottom:3rem !important;
}

.goals{
  width:100%;
  margin:auto;
  text-align:left;
}

.goals h6{
  text-indent:40px;
}

.about h6{
  font-family: "Merriweather", serif;
  font-weight: 400;
  color:#999;
  line-height:1.7;
}

.about i{
  margin-top:4rem;
}

/*/// About Two ///*/
.about__two{
  min-height:30vh;
  padding-bottom:10rem;;
  background-color:#f1f1f2
}

.thumb__desktop {
  border-radius: 2px;
  box-shadow: 4px 4px 20px #2d3033;
  width: 40%;
  max-width: 150px!important;
  margin-top: 3rem;
  margin-left:3rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  float:right;
  opacity:.8;
  transition-duration: 1s;
  -webkit-filter: grayscale(100%);
   /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.thumb__desktop:hover {
  opacity:1;
  -webkit-filter: none;
    filter: none;
}

@media(max-width:790px){
.thumb__mobile {
animation:
      greyscale-fade-in .5s 1s ease-in forwards,
      opacity-fade-in .5s ease-in forwards;
  -webkit-filter: none;
    filter: none;
  }
}

.about__two h5{
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size:1.8rem;
}
.about__two h6{
  font-family: "Merriweather", serif;
  font-weight: 400;
  color:#999;
  line-height:1.7;
  width:95%;
  margin-left:auto;
  margin-right:auto;
}

/*/// Lawns ///*/
.gallery{
  margin-top:10rem;
  margin-bottom:10rem;
}
.lawnpic{
  border-radius: 2px;
  box-shadow: 4px 4px 20px #2d3033;
  opacity:.8;
  transition-duration: 1s;
  -webkit-filter: grayscale(100%);
   /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.lawnpic:hover{
  opacity: 1;
  -webkit-filter: none;
    filter: none;
}
@media(max-width:790px){
.lawnpic{
  opacity: 1!important;
  -webkit-filter: none!important;
   /* Safari 6.0 - 9.0 */
    filter: none!important;
}
}
.light__footer {
  background-color:#f1f1f2;
  text-align:center;
}

/*/// Contact ///*/
.contact{
  margin-top:0rem;
  min-height:100vh;
  width:100%;
  text-align:left;
}

.contact a{
  margin:none!important;
  color:#999;
  font-size: 1.8rem!important;
}
.contact a:hover{
  color:#2d3033;
}

.contact h6{
  margin-top:6rem;
  text-align:left;
  font-family: "Merriweather", serif;
  font-weight: 400;
  color:#2d3033;
  letter-spacing: .1rem;
}
.contact__btn{
  font-size: 1.8rem;
  letter-spacing: .1rem;
  border: 1px solid #2d3033;;
  border-radius:2px;
  line-height:1px;
  padding: 25px 20px!important;
  text-transform: uppercase!important;
  margin-top:0rem;
}

.contact__btn:hover{
  border: 1px solid #2d3033;}

.contact__dotted {
  border-bottom:2px #2d3033 dashed;
  text-decoration: none;
}
.contact__dotted:hover {
  border-bottom: none;
  text-decoration: none;}


/*//////////////////Form////////////////*/
.form{
  max-height:100vh;
  height:100vh;
  overflow:hidden;
}

.form__btn{
  margin-top:2rem;
  font-family: "Libre Franklin", sans-serif;
  text-transform:lowercase!important;
}


.next{
  width:125px;
  margin: 1rem .5rem;
  background-color: #999;
  border:none;
  font-weight:700;
  color:#dddede;
  letter-spacing:.1em;
}
.prev{
  width:125px;
  margin: 1rem .5rem;
  background-color: #999;
  border:none;
  font-weight:700;
  color:#dddede;
  letter-spacing:.1em;
}

.next:hover,.prev:hover{
  color:#dddede!important;}


.form input{
  margin-top: 2rem;
}

.form label{
  margin-top:1rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-transform:lowercase;
  color:#999;
  letter-spacing:.1em;
  font-size:1.5rem;
}
.form label:hover{
  cursor:pointer;
}

/* Hide all steps by default: */
.tab {
  display: none;
}



.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  background-color:#2d3033;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #2d3033;
}

.services{
  text-align:center;
  display:inline-block;
  width:100%;
}


input[type=radio].weekly,
input[type=radio].spring,
input[type=radio].fall {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].weekly ~ label:before {
    font-family: "Font Awesome 5 Pro";
    display: block;
    content: "\f274";
    font-weight:900;
    letter-spacing: 10px;
    font-size: 3.5em;
    color: #999;
    width: 1.4em;
    text-align:center;
    margin:auto;
}

input[type=radio].spring ~ label:before {
    font-family: "Font Awesome 5 Pro";
    display: block;
    content: "\f4d8";
    font-weight:900;
    letter-spacing: 10px;
    font-size: 3.5em;
    color: #999;
    width: 1.4em;
    text-align:center;
    margin:auto;
}

input[type=radio].fall ~ label:before {
    font-family: "Font Awesome 5 Pro";
    display: block;
    content: "\f06c";
    font-weight:900;
    letter-spacing: 10px;
    font-size: 3.5em;
    color: #999;
    width: 1.4em;
    text-align:center;
    margin:auto;
}

input[type=radio].weekly:checked ~ label:before,
input[type=radio].spring:checked ~ label:before,
input[type=radio].fall:checked ~ label:before  {
    font-size: 3.5em;
    color: #2d3033;
}

input[type=radio].weekly:focus ~ label:before,
input[type=radio].weekly:focus ~ label,

input[type=radio].spring:focus ~ label:before,
input[type=radio].spring:focus ~ label,

input[type=radio].fall:focus ~ label:before,
input[type=radio].fall:focus ~ label
{
    color: #2d3033;
}

form h4{
  font:100 2.4rem/1 "Libre Franklin", sans-serif;
  color:#2d3033!important;
  letter-spacing: .1em;
  text-transform: capitalize;
  margin-bottom:2rem!important;
  margin-top:2rem!important;
}
